application/.env
application/vendor/
application/node_modules/
application/storage/framework/cache/*
application/storage/framework/sessions/*
application/storage/framework/views/*
application/storage/logs/*
application/storage/app/public/*
application/storage/app/deploy/*
application/bootstrap/cache/*
*.log
__MACOSX/
Files/
error_log
fix_*.php
*.bak
.DS_Store
._*
__MACOSX/
Files/
error_log
fix_*.php
*.bak
.DS_Store
._*
